*{
    margin:0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
nav{
}
/* 别看啦
要我陪你吗
mua~
*/
.nav_main{
    margin: 0 auto;
    height: 60px;
    box-shadow: black 0 -2px 4px;
    padding:0 15%;
}

.nav_main h1{
    display: inline-block;
    float: left;
}

.nav_main_title{
    height: 100%;
    width: 70%;
    float: left;
    margin-left: 50px;


}
.nav_main img{
    width: 60px;
    height: 60px;
    float: left;
}


.nav_main_title ul li{
    float: left;
    max-width: 150px;
    height: 100%;
}
/* 框框怎么出来
    ·用border
    大小怎么控制
    width是宽
    height是高
    px是像素
    爱你哟
    我也爱你哟

    你刚把代码都差点删了哈哈哈哈哈

*/

.nav_main_title ul li:hover{
    background: rgb(29, 93, 189);

}

.nav_main_title ul li:hover a{
    color: #fff;
}
.nav_main_title ul li a{
    font-size: 24px;
    display: inline-block;
    text-align: center;
    width: 130px;
    height:60px;
    color: black;
    font-weight: bold;
    transition: .3s;
    line-height: 60px;
}
/* 宝宝不会打字了 我爱你
我也爱你

不丑，好看
咋出来的☃
宝宝乖好卡哈哈哈哈哈哈哈哈哈哈哈哈
好看的我哈哈哈哈哈
*/

.title_active>a{
}

.nav_main_title ul li .title_active{
    background: rgb(29, 93, 189);
    color: #fff;
}

.nav_main_user{
    height: 100%;
    width: 18%;
    float: right;
    margin-top: 10px;
}
/* 看啥呢
    为啥会有下划线
    有去掉的
*/
.nav_main_user img{
    width: 40px;
    height: 40px;
    margin: auto 0;
}

.nav-item a{
    font-size: 18px;
    display: inline-block;
    text-align: center;
    height:35px;
    color: black;
    transition: .3s;
    line-height: 35px;

}


.person_icon{
    height: 350px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.person_icon img{
    width: 200px;
    height: 200px;
    /*margin-left: 435px;*/
}

.person_img_bg{
    background: #fff;

}

.person_img_div{
    height: 220px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.person_img{
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

#custom-file{
    position: absolute;
    bottom: 120px;
    left: -65px;
    -webkit-transition: background .3s;
    transition: background .3s;
}


.person_name{
    font-size: 35px;
    font-weight: bolder;
}
.person_email{
    font-family: "Poppins" , sans-serif;
    font-size: 18px;
    color: #eaeff3;
}



/*取色器*/

.wrapper {
    /*width: 100vw;*/
    /*height: 100vh;*/
    position: absolute;
    bottom: 120px;
    left: -35px;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.palette {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.palette .palette_item_wrapper {
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.palette.palette__opened .palette_item_wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.palette.palette__opened .palette_color {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.palette.palette__opened .palette_color:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.palette.palette__opened .palette_color:nth-child(2) {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
}
.palette.palette__opened .palette_color:nth-child(3) {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
}
.palette.palette__opened .palette_color:nth-child(4) {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
}
.palette.palette__opened .palette_color:nth-child(5) {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
}
.palette.palette__opened .palette_color:nth-child(6) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.palette.palette__opened .palette_color:nth-child(7) {
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg);
}
.palette.palette__opened .palette_color:nth-child(8) {
    -webkit-transform: rotate(252deg);
    transform: rotate(252deg);
}
.palette.palette__opened .palette_color:nth-child(9) {
    -webkit-transform: rotate(288deg);
    transform: rotate(288deg);
}
.palette.palette__opened .palette_color:nth-child(10) {
    -webkit-transform: rotate(324deg);
    transform: rotate(324deg);
}
.palette .palette_color, .palette .palette_color__main {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    border-style: solid;
    border-color: #ffffff;
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}
.palette .palette_color__main {
    background-color: #fff;
    width: 100px;
    height: 100px;
    -webkit-transition: background .3s;
    transition: background .3s;
    border-width: 6px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.palette .palette_color {
    width: 50px;
    height: 50px;
    display: block;
    -webkit-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    border-width: 3px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    left: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
}
